<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daralmathour.altaefhessan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/companylogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/companylogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.FehrestActivity" />
        <activity android:name=".Activities.MainOActivity">

        </activity>
        <activity android:name=".Activities.userPreference"></activity>
        <activity android:name=".Activities.QuranActivity" />
        <activity android:name=".Activities.SebhaActivity" />
        <activity android:name=".Activities.EtgahElqeblaActivity" />
        <activity android:name=".Activities.MoqtatafatActivity" />
        <activity android:name=".Activities.TawasselMaanaActivity"></activity>


        <activity
            android:name=".Activities.MawaqeetElsalahActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.StopAthanActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <service
            android:name=".PrayerAlarm.AthanService"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".PrayerAlarm.SampleSchedulingService" />
        <receiver android:name=".PrayerAlarm.SampleAlarmReceiver" />
        <receiver
            android:name=".PrayerAlarm.SampleBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

            </intent-filter>
        </receiver>

    </application>

</manifest>